@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    font-family: 'Rubik', sans-serif;
    background-color: #393E41;
    color: #3b3a36;
    margin: 0 auto;
    font-size: 1em;
}

a, a:visited {
    text-decoration: none;
    text-decoration-style: none;
    color: #FFFCF7;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

a:hover {
    font-size: 1.25em;
    color: #B8D8D8;
}


button {
    padding: 5px 10px;
    display: block;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    margin: 10px auto;
    border-radius: 6px;
    border-style: none;
    background-color: #393E41;
}

ul {
    display: grid;
    max-width: 98%;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    grid-gap: 20px;
    justify-content: space-around;
}

h1 {
    font-family: 'Permanent Marker', sans-serif;
    font-size: 2em;
    color: #F5FFFF;
}


.nav, .nav a {
    font-family: 'Rubik', sans-serif;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    justify-content: space-around;
}

.main {
    margin: 60px auto 0 auto;
    padding: 0;
    width: 100%;
    text-align: center;
}

.feature {
    padding: 20px;
    margin: 0 auto;
    background-color: #c0dfd9;
}

.card {
    height: auto;
    width: 350px;
    max-width: 85vw;
    background-color: #c0dfd9;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

.artist {
    background: #eff;
    text-align: center;
    padding: 5px;
    margin: 10px auto;
}

.small-img {
    max-height: 100px;
    width: auto;
}

.profile-img {
    max-height: 500px;
    max-width: 90%;
}

.placemarker {
    position: absolute;
    height: 8vh;
    width: 8vh;
    top: -8vh;
    left: -4vh;
}

.map {
    height: 50vh;
    width: 100%;
}

#login {
    margin-top: 300px;
}

@media (min-width: 800px) {
    ul {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

.feature {
    padding: 40px;
}
}

@media (min-width: 1300px) {
    .card {
        width: 640px;
    }

    .small-img {
        max-height: 300px;
        max-width: 98%;
        margin: 0 auto;
    }
}