.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.artist {
	background: #eff;
	text-align: center;
	padding: 5px;
	margin: 10px auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
